@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

/*START BURGUER MENU FORM*/

.div-container {
  position: absolute;

  width: 100%;
  height: 100vh;

  z-index: 888;
}
.div-container.display {
  position: relative;
  overflow: hidden;
}

form {
  position: absolute;

  width: 40%;
  height: min-content;

  padding: 2% 2% 0 3%;
  margin: 0 40px;

  transform: scale(0);
  transition: transform 0.2s, margin 0.4s;
}

form.active {
  transform: scale(1);
}

form h2 {
  padding-bottom: 20px;
  font-size: 26px;
}

form label {
  position: relative;
  display: table;
  margin: 0 0 24px -24px;
}

form label .span-text {
  width: 33%;
}

form label input,
form label .span-text {
  position: relative;
  display: table-cell;

  font-size: 12px;
}

form label,
form label input,
form label textarea {
  border: none;
  outline: none;

  color: #2c2c2c;
  width: 100%;
}

form label,
form label input,
form label textarea {
  line-height: 24px;
  font-size: 20px;
}

form label textarea,
form label input {
  box-shadow: 2px 2px 6px #ccc;
  color: #999fff;
}

form label textarea {
  border: 1px solid #ccc;
  height: 30px;
  resize: none;

  transition: height 0.5s;

  overflow-y: hidden;
}

form label textarea.active {
  height: 150px;
  overflow-y: hidden;
}

.send {
  position: relative;
  margin-top: 30px;

  width: 100%;
  height: fit-content;
}

.send .circle {
  width: 100px;
  height: 100px;

  border: none;
  outline: none;

  background: linear-gradient(45deg, #f45d1f 0, #ed4966 100%);
  position: relative;

  line-height: 5;
  border-radius: 50%;

  transition: transform 0.3s;
}

.send .circle span {
  position: absolute;
  border-radius: 50%;

  background-color: #fff;
  text-align: center;
  left: 13px;
  top: 13px;
  width: 75px;
  height: 75px;

  transition: background 0.3s;

  font-weight: 300;
}

.send .circle:hover span {
  background: linear-gradient(45deg, #f45d1f 0, #ed4966 100%);
  font-weight: 700;
}

.send .circle:hover {
  transform: rotate(35deg);
  color: #fff;
}

.send .send-by-phone {
  position: relative;
  top: -50px;
  left: 30%;
  width: fit-content;
  height: fit-content;
  margin-left: 20px;
}

.send .send-by-phone .number-phone {
  cursor: pointer;
}

span.burger-container:hover {
  color: #f45d1f;
  background-color: #1889f3d5;
}

/*END BURGUER MENU FORM*/
